<div class="purchase-item">
    <div class="past-purchase flex items-center justify-between bg-gray-50 border-l-4 border-blue-500 rounded-r-lg px-3 py-2 text-sm cursor-pointer hover:bg-red-50 hover:border-red-400 transition-all duration-200" data-product='{{product}}'>
        <div>
            <span class="font-semibold text-gray-800">{{name}}</span>
            <span class="text-gray-400 text-xs ml-2">${{price}} &middot; {{brand}}</span>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-red-400 shrink-0 ml-2" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"/>
        </svg>
    </div>
</div>
